
    
/* ******************************************************************************
RESET
********************************************************************************/
html {
    font-size: 62.5%;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    line-height: 1.5;
    
    background-color: #e3e3e3;
}


/* ******************************************************************************
VARIABLES
********************************************************************************/
/* :root { */
    /* --clr-body-backgroud : #e3e3e3; */
    /* --clr-container-backgroud : #f9f9f9; */
    /* --clr-chat-text-backgroud : #d9d9d9; */
    /* --clr-blue : #0119ff; */
/* } */


/* ******************************************************************************
TYPOGRAPHIE
********************************************************************************/



/* ******************************************************************************
CLASSES UTILITAIRES
********************************************************************************/
.display-flex {
    display: flex;
    align-items: center;
}

.bot-message{
    margin-left: 1rem;
    margin-bottom: -3rem;
}

.prev-long-message{
    margin-bottom: -6rem;
}

.ready-btn{
    
    padding: .7rem 1rem;
    border-radius: 50px;
    cursor: pointer;
    margin-left: 18.7rem;
    box-shadow: 0 1px 3px 2.5px rgba(0, 0, 0, 0.12);
    background-color: #ff9e00;;
    color: black;

}

.send-btn{
    padding: .7rem 1rem;
    border-radius: 20px;
    background-color:#0119ff;
    cursor: pointer;
    margin-left: -2rem;
}

.send-icon{
    color: white;
}

.user-message select, 
.user-message input[type=text] {
    display: block;
    padding: 1rem 1.7rem;
    background-color: #fff;
    margin-left: auto;
    border-radius: 50px;
    font-family: Manrope;
    width: 400px;
    margin-top: 8rem;
}

.user-icon{
    border-radius: 50px;
    background-color:#0119ff;
    color: white;
    padding: 0.7rem 0.8rem;
}

.user{
    margin-bottom: -12rem;
}

.user-message > div {
    margin-left: auto;
}

/* Paragraphe contenant le choix ou le message de l'utilisateur */
.user-style {
    color: white;
    background-color:#0119ff;
    margin-left: auto;
    font-size: 1.5rem;
    padding: 1rem 1.7rem;
    border-radius: 40px 40px 10px 40px;
    margin-top: 8rem;
}

.bot-btn{
    flex-basis: 100%;
}


button{
    font-family: Manrope;
    border: none;
}

select{
    margin-left: auto;
}

.pen-icon{
    cursor: pointer;
    margin-left: .3rem;
}

.color_title {
    width: fit-content;
}

/* ******************************************************************************
CONTAINER
********************************************************************************/

.message-container{
    position: absolute;
    padding-top: 20rem;
    top: 1rem;
    z-index: 1;
    margin-left: -2rem;
    width: 100%;
}

.chat-container {
    padding-top: 15rem;
    position: relative;
    margin-top: -20rem;
    width: 67.1%;
    height: 375rem;
    margin-inline: auto;
    background-image: linear-gradient(to right, #e3e3e3 .5%, #f9f9f9 1%, #f9f9f9 90%, #f9f9f9 99%, #e3e3e3 100% );
    background-color:#f9f9f9;
    font-family: Manrope;
}


/* ******************************************************************************
MAIN CONTENT
********************************************************************************/

input {
    padding : 1rem 7rem;
    border: none;
    border-radius: 15px;
}

/* Définission du style des cercles */
div.circle {
    width: 50px;
    aspect-ratio: 1;
    border: 7.5px dashed blue;
    background-color: white;
    border-radius: 50%;
}
    
/* Définition de l'animation de chaque cercle */
div.circle-1{
    animation: rotation 2s linear 2s;
}
div.circle-2{
    animation: rotation 2s linear 4s;
}
div.circle-3{
    animation: rotation 2s linear 6s;
}
div.circle-4{
    animation: rotation 2s linear 8s;
}

@keyframes rotation {
0% {transform: rotate(0deg);}
100% {transform: rotate(306deg);}
}


/* Les bulles de discussion du chat */
div.circle ~ p {
    background-color:#d9d9d9;
    border-radius: 10px 40px 40px 40px;
    background-color: rgb(217, 217, 217);
    margin-left: .5rem;
    margin-top: 5rem;
    font-size: 1.5rem;
    padding: 1rem 1.7rem;
}

.long-message > p{
    margin-top: 8rem !important;
}


.carousel-indicators{
    margin-bottom: -2rem !important;
}

.choice-btn{
    padding: .7rem 1rem;
    border-radius: 30px;
    cursor: pointer;
}
/* ***********************************************
SECTION CHAT-INTRODUCTION 
*********************************************** */
/* div.display-flex {
    position: absolute;
    left : -2rem;
    /* top : 8rem; */
/* }

div.display-flex:nth-of-type(1) {
    top: 5rem;

}

div.display-flex:nth-of-type(2) {
    top: 7rem;
}

div.display-flex:nth-of-type(3) {
    top: 12rem;
}

div.display-flex:nth-of-type(3) p {
    top: 1rem;
    border-bottom-left-radius: 20px;
}

div.display-flex:nth-of-type(4) {
    top: 28rem;
} */ */


/* ************************************************
SECTION CHAT-CHOIX DE LA CATEGORIE 
************************************************ */



/* *************************************************
SECTION CHAT-CHOIX DE LA CATEGORIE 
************************************************* */

/* Message du bot */
/* div.categorie-chat-1 {
    top: 46rem;
}

div.categorie-chat-2{
    top: 52rem;
} */

/* Action de l'utilisateur */
/* select.position-absolute {
    display: block;
    top: 49rem;
    right: 8rem;

    padding : 1rem 10rem;
    border: none;
    border-radius: 15px;

}

button.choix-categorie {
    top: 55rem;
    right: 8rem;
} */


/* **************************************************
SECTION CHAT-CHOIX DU THEME
************************************************** */
/* div.theme-1 {
    top: 70rem;
} */

/* Action utilisateur */
/* div.theme-2 {
    top: 78rem;
    right: 8rem;
}

div.theme-2 div {
    position: absolute;
    right: 0;
    margin-top: 3rem;
} */

/* Affichage du thème choisi par l'utilisateur */
/* div.theme-3 {
    top: 89rem;
} */


/* ****************************************************
SECTION CHAT-CHOIX DU NOM DU SITE WEB 
**************************************************** */
/* div.nom_site1 {
    top: 98rem;
} */

/* Action utilisateur */
/* div.nom_site2 {
    top: 106rem;
    right: 8rem;
}


div.nom_site2 div {
    position: absolute;
    right: 0;
    margin-top: 3rem;
} */


/* ******************************************************
SECTION CHAT-CHOIX DU TEMPLATE 
****************************************************** */

/* div.choix_template_1 {
    top: 116rem;
}

div.choix_template_2{
    top: 112rem;
}

div.choix_template_3{
    top: 128rem;
} */

/* Carousel */

/* div.carousel {
    top: 135rem;
    left: 18rem;
    column-gap: 2rem;
    text-align: center;
} */


/* *******************************************************
SECTION CHAT-CHOIX DES COULEURS DU TEMPLATE 
******************************************************* */
/* div.choix_couleur1 {
    top: 147rem;
}

div.choix_couleur2 {
    top: 154rem;
} */

/* Button pour le choix */
/* div.choix_couleur_button {
    top: 163rem;
    right: 8rem;
}

div.choix_couleur_button button {
    box-shadow: 0px 1px 3px;
    border-radius: 10px;
    margin-left: 1rem;
    padding: .5rem 1rem;
}

button.choix_couleur_button_1 {
    top: 160rem;
    right: 8rem;
} */

/* Chat - texte d'introduction au choix */
/* div.choix_couleur3 {
    top: 174rem;
}

/* Case à choix de couleur */
/* div.case_a_couleur {
    top: 182rem;
    left: 14rem;
    column-gap: 3rem;
} */ */


/* Case à choix de couleur personnel*/
/* div.choix_couleur_perso {
    top: 192rem;
    left: 22rem;
} */


/* *******************************************************
SECTION CHAT-CHOIX DES COULEURS DU TEMPLATE 
******************************************************* */
/* div.formulaire_1 {
    top: 198rem;
}

div.formulaire_2 {
    top: 212rem;
}

div.formulaire_3 {
    top: 210rem;
} */

.boxColorParent {
 justify-content: space-around;
 border: 1px solid aqua;
 margin-left: 20rem;
 margin-right: 0;
}

input[type=radio] {
    width: 2rem;
    height: 2rem;
}

.boxPrimaryColor, 
.boxSecondaryColor, 
.boxTertiaryColor {
    border: 1px solid red;
    flex-direction: column;
    align-items: center;
} 

/* Couleurs primaires */
.boxPrimaryColor div:nth-of-type(1) {
    background-color: #f95568;
}
.boxPrimaryColor div:nth-of-type(2) {
    background-color: #452636;
}
.boxPrimaryColor div:nth-of-type(3) {
    background-color: #563258;
}

/* Couleurs secondaires */
.boxSecondaryColor div:nth-of-type(1) {
    background-color: #666e61;
}
.boxSecondaryColor div:nth-of-type(2) {
    background-color: #f4dd13;
}
.boxSecondaryColor div:nth-of-type(3) {
    background-color: #236eff;
}

/* Couleurs tertiaires */
.boxTertiaryColor div:nth-of-type(1) {
    background-color: #666e61;
}
.boxTertiaryColor div:nth-of-type(2) {
    background-color: #f4dd13;
}
.boxTertiaryColor div:nth-of-type(3) {
    background-color: #236eff;
}

.boxPrimaryColor div,
.boxSecondaryColor div,
.boxTertiaryColor div {
    width: 5rem;
    aspect-ratio: 1;
    border: 1px solid black;
    border-radius: 50%;
    margin-bottom: 1rem;
}

div.formulaire_4 {
    top: 224rem;
}

/* Section du choix des couleurs personnalisées */
.boxOwnColorParent {
    width: 40rem;
    margin-inline: auto;
    margin-bottom: 2rem;
}
.boxOwnColorParent p {
    flex-basis: 100%;
    text-align: center;
}

/* .boxOwnColor div {
    background-color: #d9d9d9;
} */

input[type=color] {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    padding: 0;
}

.boxOwnColor {
    column-gap: 2.2rem;
}

/* Formulaie */
form {
    position: relative;
    width: 35rem;
    background-color: #0119ff;
    border-radius: 20px;
    margin-top: 8rem;
    margin-inline: auto;
}

form input {
    outline: #0119ff;
    height: 4rem;
    padding-left: 1rem;
}

.containButton {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -3rem;
    padding-block: 1.3rem;
    text-align: center;
    background-color: #58ce20;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

form label {
    font-size: 1.3rem;
    color: white;
}

form button {
    font-size: 1.5rem;
    font-weight: 900;
}



