<div>

    <form action="">
        <div>
            <div><span class="fas fa-robot"></span></div>
            <p>Choisir la catégorie de ton site</p>
        </div>
        <div>
            <div><span class="fas fa-user-circle"></span></div>
            <select name="" id="" required>
                <option value="">Catégories</option>
            </select>
        </div>
        <div>
            <div><span class="fas fa-robot"></span></div>
            <p>A présent, renseigne moi le thème de ton site</p>
        </div>
        <div>
            <div><span class="fas fa-user-circle"></span></div>
            <select name="" id="" required>
                <option value="">Thèmes</option>
            </select>
            <div>
                <input type="text" required>
                <button><span class="fa fa-send"></span></button>
            </div>
        </div>
        <div>
            <div><span class="fas fa-robot"></span></div>
            <p>Quel est le nom de ton site</p>
            <div>
                <input type="text" required>
                <button><span class="fa fa-send"></span></button>
            </div>
        </div>
        <div>
            <div><span class="fas fa-robot"></span></div>
            <p>Choisir à présent ton template</p>
        </div>
        <div>

            <!-- Carousel -->

            <div><span class="fas fa-user-circle"></span></div>
            <div>
                <input type="radio" required>
                <div class="parent">
                    <div class="item"><img src="./instructions/ressources/images/slider-01.jpg" alt="nourriture"></div>
                    <div class="item"><img src="./instructions/ressources/images/slider-02.jpg" alt="nourriture"></div>
                    <div class="item"><img src="./instructions/ressources/images/slider-03.jpg" alt="nourriture"></div>
                </div>
            </div>
            <div>
                <input type="radio" required>
                <div class="parent">
                    <div class="item"><img src="./instructions/ressources/images/slider-01.jpg" alt="nourriture"></div>
                    <div class="item"><img src="./instructions/ressources/images/slider-02.jpg" alt="nourriture"></div>
                    <div class="item"><img src="./instructions/ressources/images/slider-03.jpg" alt="nourriture"></div>
                </div>
            </div>
            <div>
                <input type="radio" required>
                <div class="parent">
                    <div class="item"><img src="./instructions/ressources/images/slider-01.jpg" alt="nourriture"></div>
                    <div class="item"><img src="./instructions/ressources/images/slider-02.jpg" alt="nourriture"></div>
                    <div class="item"><img src="./instructions/ressources/images/slider-03.jpg" alt="nourriture"></div>
                </div>
            </div>
        </div>
        <div>
            <div><span class="fas fa-robot"></span></div>
            <p>Choisis les trois couleurs principales du template</p>
        </div>
        <div>
            <div>
                <div><span class="fas fa-user-circle"></span></div>
                <div>Primaire</div>
                <div>Secondaire</div>
                <div>Tertiare</div>
            </div>
            <div>
                <div class="primary-colors">
                    <div> <!-- ngFor pour la génération de couleurs  -->
                        <input type="radio" name="primaire" required>
                        <div>primary-color</div> <!-- Utilisation d'un attribut style avec bind de donées de angular-->
                    </div>
                </div>
                <div class="secondary-colors">
                    <div> <!-- ngFor pour la génération de couleurs  -->
                        <input type="radio" name="secondary" required>
                        <div>secondary-color</div> <!-- Utilisation d'un attribut style avec bind de donées de angular-->
                    </div>
                </div>
                <div class="tertiary-colors">
                    <div> <!-- ngFor pour la génération de couleurs  -->
                        <input type="radio" name="Tertiare" required>
                        <div>tertiaire-color</div> <!-- Utilisation d'un attribut style avec bind de donées de angular-->
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div><span class="fas fa-robot"></span></div>
            <p>renseigne moi ton nom</p>
        </div>
        <div>
            <div><span class="fas fa-user-circle"></span></div>
            <input type="text" required>
            <button><span class="fa fa-send"></span></button>
        </div>
        <div>
            <div><span class="fas fa-robot"></span></div>
            <p>renseigne moi ton prénom</p>
        </div>
        <div>
            <div><span class="fas fa-user-circle"></span></div>
            <input type="text" required>
            <button><span class="fa fa-send"></span></button>
        </div>
        <div>
            <div><span class="fas fa-robot"></span></div>
            <p>renseigne moi ton email!</p>
        </div>
        <div>
            <div><span class="fas fa-user-circle"></span></div>
            <input type="email" required>
            <button><span class="fa fa-send"></span></button>
        </div>

        <div> <!-- Toolbar -->
            <button>Modifier</button>
            <button>Reprendre</button>
            <button type="submit">Créer le template</button>
        </div>
    </form>
</div> <!-- Container -->