
<div id="chatbot" class = "chat-container">
    <canvas #canvas width = "20px" [height] = "canvasHeight" style = " border : 1px solid black;" ></canvas>
    
    <div class="message-container">
        
        <!-- Variable d'état start pour la première réponse (ensemble de messages) du bot -->
        <div class = "display-flex bot-message" *ngIf = "start">
            <div [ngClass] = "{circle : start, 'circle-1': start}"  [@circleFadeInAnimation1] ></div>
            <p [@textFadeInAnimation1] > Salut ! Je m'appelle Build'o</p>
        </div>

        <div class = "display-flex bot-message" *ngIf = "start">
            <div [ngClass] = "{circle : start, 'circle-2': start}"  [@circleFadeInAnimation2] ></div>
            <p [@textFadeInAnimation2]>Je suis le bot constructeur de template.</p>
        </div>

        <div class = "display-flex bot-message" *ngIf = "start">
            <div [ngClass] = "{circle : start, 'circle-3': start}"  [@circleFadeInAnimation3] ></div>
            <p [@textFadeInAnimation3]>Je vais te demander des informations sur letemplate <br>afin de le construire à ta convenance</p>
        </div>

        <div class = "display-flex bot-message" *ngIf = "start">
            <div [ngClass] = "{circle : start, 'circle-4': start}"  [@circleFadeInAnimation4] ></div>
            <p [@textFadeInAnimation4]>Alors on peut commencer ?</p>
        </div>
        <div> 
            <button [@textFadeInAnimation4] class="ready-btn" (click)="isReady()" *ngIf = "start">Oui Build'o</button>
        </div>
        <div class = "display-flex " *ngIf="ready">
            <p class = "user-style">Oui Build'o</p> <span></span>
        </div>

        <!-- Choix de la catégorie du site web -->
        <div  class = "display-flex bot-message" *ngIf = "categoryStep">
            <div [ngClass] = "{circle : start, 'circle-1': start}"  [@circleFadeInAnimation1] ></div>
            <p [@textFadeInAnimation1]>Super !</p>
        </div>

        <div  class = "display-flex bot-message" *ngIf = "categoryStep">
            <div [ngClass] = "{circle : start, 'circle-2': start}"  [@circleFadeInAnimation2] ></div>
            <p [@textFadeInAnimation2]>Dans quelle catégorie s'inscrit ton site ?</p>
        </div>

        <div *ngIf="categoryStep && !hasSelectCategory" class="user-message" [@textFadeInAnimation3] = 'animation'>
            <select name = "" id = "" (change)="getOption($event)"> <!-- Action utilisateur -->
                <option value="" >--Sélectionne une catégorie--</option>
                <option value="Finance" >Finance</option>
                <option value="Santé" >Santé</option>
                <option value="Gastronomie" >Gastronomie</option>
                <option value="Sport" >Sport</option>
                <option value="Informatique" >Informatique</option>
            </select>
        </div>

        <div class = "display-flex " *ngIf="showCategory">
            <p class = "user-style">{{category}} <span (click)="modifyCategory()" class="pen-icon fas fa-pen"></span></p> 
        </div>


        <!-- Thème du site -->
        <div class = "display-flex bot-message" *ngIf = "themeStep">
            <div [ngClass] = "{circle : start, 'circle-1': start}"  [@circleFadeInAnimation1] ></div>
            <p [@textFadeInAnimation1] > A présent renseigne moi le thème de ton site</p>
        </div>

        <div *ngIf="themeStep && !hasEnteredTheme" class="user-message" [@textFadeInAnimation2] = 'animation'>
            <div class="display-flex">
                <input type="text" (change)="getTheme($event)">
                <button class="send-btn" (click)="getTheme($event)"><span class="send-icon fa-solid fa-paper-plane"></span></button>
            </div>
            <p *ngIf="invalidThemeInput"> Veuillez renseigner un thème valide !</p>
        </div>

        <div class = "display-flex " *ngIf="showTheme && !invalidThemeInput">
            <p class = "user-style">{{theme}} <span (click)="modifyTheme()" class="pen-icon fas fa-pen"></span></p> 
        </div>

        <!-- Nom du site -->
        <div class = "display-flex bot-message" *ngIf = "siteNameStep">
            <div [ngClass] = "{circle : start, 'circle-1': start}"  [@circleFadeInAnimation1] ></div>
            <p [@textFadeInAnimation1] > Ton site web porte donc sur le thème : {{theme}} </p>
        </div>
        <div class = "display-flex bot-message" *ngIf = "siteNameStep">
            <div [ngClass] = "{circle : start, 'circle-1': start}"  [@circleFadeInAnimation2] ></div>
            <p [@textFadeInAnimation2] > Quel nom donneras tu à ton site ? </p>
        </div>

        <div *ngIf="siteNameStep && !hasEnteredSiteName" class="user-message" [@textFadeInAnimation2] = 'animation'>
            <div class="display-flex">
                <input type="text" (change)="getSiteName($event)">
                <button class="send-btn" (click)="getSiteName($event)"><span class="send-icon fa-solid fa-paper-plane"></span></button>
            </div>
        </div>
        <p *ngIf="invalidSiteNameInput"> Veuillez renseigner un nom valide !</p>

        <div class = "display-flex " *ngIf="showSiteName && !invalidSiteNameInput">
            <p class = "user-style">{{siteName}} <span (click)="modifySiteName()" class="pen-icon fas fa-pen"></span></p> 
        </div>


         <!-- Template du site -->
         <div class = "display-flex bot-message" *ngIf = "templateStep">
            <div [ngClass] = "{circle : start, 'circle-1': start}"  [@circleFadeInAnimation1] ></div>
            <p [@textFadeInAnimation1] > J'aime bien ce nom ! </p>
        </div>
        <div class = "display-flex bot-message" *ngIf = "templateStep">
            <div [ngClass] = "{circle : start, 'circle-2': start}"  [@circleFadeInAnimation2] ></div>
            <p [@textFadeInAnimation2] > On avance bien ! </p>
        </div>
        <div class = "display-flex bot-message" *ngIf = "templateStep">
            <div [ngClass] = "{circle : start, 'circle-3': start}"  [@circleFadeInAnimation3] ></div>
            <p [@textFadeInAnimation3] > Tu vas maintenant choisir le template de ton site </p>
        </div>

        <!-- Carousel de templates -->
        <div class="user-message" [@textFadeInAnimation4] = 'animation' >
            
            <div id="carouselExampleIndicators" class="carousel slide">
                <div class="carousel-indicators">
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <div class="row">
                        <div class="col-3 d-flex flex-column gap-3 justify-content-center align-items-center">
                            <div class="template-input mx-auto">
                                <input type="radio" name="template" value="template1" class="d-block margin-inline-auto">
                            </div>
                            <div class="template-image">
                                <img src="../../assets/photo-1561212024-cb9ad0c33195.jpg" class="d-block w-100" alt="...">
                            </div>
                        </div>
                        <div class="col-3 d-flex flex-column gap-3 justify-content-center align-items-center">
                            <div class="template-input mx-auto">
                                <input type="radio" name="template" value="template1" class="d-block margin-inline-auto">
                            </div>
                            <div class="template-image">
                                <img src="../../assets/photo-1561212024-cb9ad0c33195.jpg" class="d-block w-100" alt="...">
                            </div>
                        </div>
                        <div class="col-3 d-flex flex-column gap-3 justify-content-center align-items-center">
                            <div class="template-input mx-auto">
                                <input type="radio" name="template" value="template1" class="d-block margin-inline-auto">
                            </div>
                            <div class="template-image">
                                <img src="../../assets/photo-1561212024-cb9ad0c33195.jpg" class="d-block w-100" alt="...">
                            </div>
                        </div>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <img src="../../assets/photo-1561212024-cb9ad0c33195.jpg" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="../../assets/photo-1561212024-cb9ad0c33195.jpg" class="d-block w-100" alt="...">
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
              
        </div>
    </div>




<!-- Les parties manquantes -->
<!-- J'ajoutais au fur et à mesure que j'implémente chaque élément -->
    
    <!-- Première réponse de l'utilisateur -->
    


    

    

    <div  class = "display-flex theme-3">
        <div class = "circle"></div>
        <p>Ton site web porte donc sur le thème de (thème du site)</p>
    </div>


    <!-- choix du nom du site web -->
    <div  class = "display-flex nom_site1">
        <div class = "circle"></div>
        <p>Quel nom donneras-tu à ton site web</p>
    </div>


    <div class="position-absolute nom_site2">
        <input type = "text" name = ""> <!-- Action utilisateur -->
        <div>
            <button class = "user-style">Nom du site web</button>
        </div>
    </div>


    <!-- .Carousel | choix du template -->
    <div  class = "display-flex choix_template_1">
        <div class = "circle"></div>
        <p>J'aime bien ce nom !</p>
    </div>

    <div  class = "display-flex choix_template_2">
        <div class = "circle"></div>
        <p>On avance bien.</p>
    </div>

    <div  class = "display-flex choix_template_3">
        <div class = "circle"></div>
        <p>Tu vas à présent choisir le template de ton site web.</p>
    </div>


    <div class="carousel position-absolute display-flex">  <!-- Action utilisateur -->
       <!-- <span class="fas fa-user-circle"></span> -->
        <div>
            <input type="radio" required>
            <div class="parent">
                <div class="item"><img src="./instructions/ressources/images/slider-01.jpg" alt="nourriture"></div>
                <div class="item"><img src="./instructions/ressources/images/slider-02.jpg" alt="nourriture"></div>
                <div class="item"><img src="./instructions/ressources/images/slider-03.jpg" alt="nourriture"></div>
            </div>
        </div>
        <div>
            <input type="radio" required>
            <div class="parent">
                <div class="item"><img src="./instructions/ressources/images/slider-01.jpg" alt="nourriture"></div>
                <div class="item"><img src="./instructions/ressources/images/slider-02.jpg" alt="nourriture"></div>
                <div class="item"><img src="./instructions/ressources/images/slider-03.jpg" alt="nourriture"></div>
            </div>
        </div>
        <div>
            <input type="radio" required>
            <div class="parent">
                <div class="item"><img src="./instructions/ressources/images/slider-01.jpg" alt="nourriture"></div>
                <div class="item"><img src="./instructions/ressources/images/slider-02.jpg" alt="nourriture"></div>
                <div class="item"><img src="./instructions/ressources/images/slider-03.jpg" alt="nourriture"></div>
            </div>
        </div>
    </div>


    <!-- Choix des couleurs -->
    <div  class = "display-flex choix_couleur1">
        <div class = "circle"></div>
        <p>Passons maintenant aux couleurs</p>
    </div>

    <div  class = "display-flex choix_couleur2">
        <div class = "circle"></div>
        <p>Voudrais-tu les choisir toi même ?</p>
    </div>

    <div class = "position-absolute choix_couleur_button"> <!-- Action utilisateur -->
        <button>Oui</button>
        <button>Non</button>
    </div>

    <button class = "user-style position-absolute choix_couleur_button_1">Réponse</button>

    <div  class = "display-flex choix_couleur3">
        <div class = "circle"></div>
        <p>Choisis alors couleurs pour ton template</p>
    </div>

    <div class = "display-flex position-absolute case_a_couleur">
        <div class = "user-style">Primaire</div>
        <div class = "user-style">Secondaire</div>
        <div class = "user-style">Tertiaire</div>
    </div>


    <div class = " position-absolute user-style choix_couleur_perso">couleurs personnalisées</div>

    <!-- Formulaire -->
    <div  class = "display-flex position-absolute formulaire_1">
        <div class = "circle"></div>
        <p>Merci de m'avoir fourni toutes les informations</p>
    </div>

    <div  class = "display-flex position-absolute formulaire_2">
        <div class = "circle"></div>
        <p>Génération du template en cours (petit loader)</p>
    </div>

    <div  class = "display-flex position-absolute formulaire_3">
        <div class = "circle"></div>
        <p>Template généré avec succès</p>
    </div>

    <div  class = "display-flex position-absolute formulaire_4">
        <div class = "circle"></div>
        <p>Pour le recevoir, je t'invite à remplir ce formulaire</p>
    </div>


    <form action="" class = "position-absolute">
        <label for="lastname">Nom</label><br>
        <input type="text" name = "lastname" id = "lastname"><br><br>

        <label for="firstname">Nom</label><br>
        <input type="text" name = "firstname" id = "firstname"><br><br>

        <label for="mail">Nom</label><br>
        <input type="email" name = "mail" id = "mail"><br><br>

        <button type = "submit"> RECEVOIR MON TEMPLATE </button>
    </form>


</div>