/* Font face */





/* *****************************************************************
TOOLS
***************************************************************** */
*,
*::after,
*::before {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}



/* *****************************************************************
GENERALITIES
***************************************************************** */
/* Le corps du document */
.wrapper {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 1.5rem;
    line-height: 1.3;
    font-family: Manrope;
}

.pricipale {
    background-color: #ff9e00;
}

/* *****************************************************************
CONTAINER
***************************************************************** */

/* Background couleur, l'image, l'origine et la taille, ou la méthode de répétition*/
.BgroundImage {

    position: relative;
    z-index: 1;
    width: 100%;
    padding: 2rem 8rem 20rem;
    background: url(../assets/Banner.png);
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: cover;

}


/* ***************************************************************
Nav
***************************************************************** */
span.icon {
    margin-right: 1.5rem;
    
    font-size: 2rem;
    color: white;
}

span.icon:hover,
span.icon:focus {
    color: #ff9e00;

}

.flex-gap {
    display: flex;
    gap: 1.5rem;

}


/* *****************************************************************
LES CLASSES UTILITAIRES
***************************************************************** */
.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}




/* *****************************************************************
MAIN LAYOUT
***************************************************************** */

.logo{
    width: 150px;
    height: 40px
}

.hero span {
    color: #ff9e00;
}

.hero {
    color: white;
    margin-block: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}


.hero h1 {
    font-family: 'Poppins';
    font-size: 5.5rem;
    font-weight: 950;
}

.hero-container {
    margin-inline: 13rem;
}

.hero-container p {
    line-height: 3rem;
    font-size: 1.5rem;
    color: rgba(255, 255, 255, 0.591);
    font-family: Manrope;
    margin-inline: 8rem;
    margin-bottom: 3rem;
}

.button {
    padding: .8rem 2rem;
    border-radius: 50px;

    color: white;
    background-color: black;
    text-decoration: none;
    font-size: 2rem;
    font-weight: 900;
    font-family: Poppins;
    letter-spacing: 0.1rem;
    
    transition: all .5s;

}

.button:hover,
.button:focus {
    background-color: #ff9e00;
    color: black;
    cursor: pointer;
}

.button span:hover {
    color: white;
}

span:hover,
span:focus {
    color: #ff9e00;
}




/* 
@media screen and (max-width:1525px) {
    
    .hero h1 {
        font-size: 5rem;
    }
    .hero-container {
        margin-inline: 10rem;
    }
    .hero-container p {
        margin-block: 1.5rem 2rem;
        padding-inline: 3rem;
        line-height: 1.5rem;
        font-size: 1rem;
       
    }
}

@media screen and (max-width:1370px) {
    .hero h1 {
        font-size: 4rem;
    }
    .hero-container {
        margin-inline: 3rem;
    }

    .button {
        padding: .8rem 1.5rem;
        margin-top: 1rem;
        border-radius: 50px;
    
        font-size: 2rem;
     
    
    }


    .button {
        padding: .8rem 1rem;
        margin-top: 1.3rem;
        border-radius: 50px;
    
        font-size: 1.5rem;
     
    
    }
    
}

-Mobile-
@media screen and (max-width:780px) {
    .logo{
        width: 400px;
        height: 50px
    }
    .flex-gap .icon{
        font-size: 1.5rem;
    }
   
     .logo{
        margin-block: .5rem;
     }
    .hero h1 {
        font-size: 2.8rem;
    }
    .hero-container {
        margin-inline: 1rem;
    }

    .button {
        padding: .5rem 1rem;
        margin-top: 1rem;
        border-radius: 50px;
    
        font-size: 1.5rem;
     
    
    }
    .flex{
        flex-direction: column;
    }
    .logo{
          
        padding-left: 30%;
    }
}

@media screen and (max-width:480px) {
    .hero h1 {
        font-size: 2rem;
    }
    .hero{
        margin-inline:0;
    }
    .hero-container {
        margin-inline: 0;
    }

    .hero-container p {
        margin: 0;
       padding: 0 0 1.5rem 0;
    }

   
} */



/* *************************************************************************************************************
MEDIA QUERY MOBILE
************************************************************************************************************* */

@media screen and (max-width : 780px) {

    /* ***********************************************
    SECTION LOGO
    *********************************************** */
    div.flex {
        flex-direction: column;
        margin-top: 4rem;
    }

   .logo {
        width: 250px;
        height: auto;
    }

    div.flex-gap {
        display: none;
    }

    .BgroundImage {
        padding : 3rem 0rem 0rem 0rem;
        max-width: 100%;
        height: 90rem;
        background: url(../assets/Origine-banner.png);
        background-attachment: scroll;
        background-repeat: no-repeat;
        background-size: cover;
    
    }




    /* ***********************************************
    SECTION HERO
    *********************************************** */
    
    .hero {
        color: white;
        margin-block: 5rem;
        display: block;
        text-align: center;
    }
    
    .hero-container {
        margin-inline: 0;
    }
    
    .hero h1 {
        font-size: 3.5rem;
        text-align: center;
    }
    
    
    .hero-container p {
        font-size: 1.5rem;
        margin-inline: 2rem;
        margin-block: 3rem 3rem;
        text-align: center;
    }
}




/* *************************************************************************************************************
MEDIA QUERY TABLETTE
************************************************************************************************************* */

@media (min-width : 780px) and (max-width : 980px) {
    
    /* ***********************************************
    SECTION LOGO
    *********************************************** */
    .BgroundImage {
        padding : 3rem 0rem 0rem 0rem;
        max-width: 100%;
        height: 80rem;
        background: url(../assets/Origine-banner.png);
        background-attachment: scroll;
        background-repeat: no-repeat;
        background-size: cover;
    }

    div.flex {
        padding-inline: 2rem;
    }

    .logo {
        width: 230px;
        height: auto;
    }


    /* ***********************************************
    SECTION HERO
    *********************************************** */
    .hero-container {
        margin-top: 2.5rem;
        margin-inline: 0;
    }

    .hero-container p {
        font-size: 1.6rem;
        margin-inline: 2rem;
        margin-block: 4rem 6rem;
    }
    
    .hero h1 {
        font-size: 4rem;
    }
}


/* *************************************************************************************************************
MEDIA QUERY DESKTOP - 1200px
************************************************************************************************************* */
@media screen and (max-width : 1600px) {
    .BgroundImage {
        padding : 3rem 0rem 0rem 0rem;
        max-width: 100%;
        height: 80rem;
        background: url(../assets/Origine-banner.png);
        background-attachment: scroll;
        background-repeat: no-repeat;
        background-size: cover;
    }
}