<!-- Header de l'application -->

<div class="BgroundImage container">
  <div class="flex">
    <a href=""><img class="logo" src="../assets/maquette-main/logo2.png" alt="logo" ></a>

    <div class="flex-gap">
      <a href=""><span class="icon fab fa-facebook"></span></a>
      <a href=""><span class="icon fab fa-twitter"></span></a>
      <a href=""><span class="icon fas fa-moon"></span></a>
    </div>

  </div>

  <div class="hero">
    <div class="hero-container">
      <h1>Nous générons <br> votre <span>site web</span> en un <br> temps record !</h1>
      <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptate laudantium a, sint, repellat, eligendi
        laborum
        delectus quod quidem maxime dignissimos quaerat dolor exercitationem enim architecto nemo recusandae sapiente
        assumenda dicta!</p>
      <a href="#chatbot" class="button" (click)="isLaunched = true">Commencer <span class='fas fa-caret-down'></span></a> 
    </div>
  </div>
</div>

<app-chatbot [start]="isLaunched"></app-chatbot>