<!-- Header de l'application -->

<div class="BgroundImage wrapper">
  <div class="flex">
    <a href=""><img class="logo" src="../assets/Logo.png" alt="logo" ></a>

    <div class="flex-gap">
      <a href=""><span class="icon fab fa-facebook"></span></a>
      <a href=""><span class="icon fab fa-twitter"></span></a>
      <a href=""><span class="icon fas fa-moon"></span></a>
    </div>

  </div>

  <div class="hero">
    <div class="hero-container">
      <h1>Nous générons  automatiquement votre  <span>site web </span> en un  temps record !</h1>
      <p>Nous sommes la 1ère plateforme à promouvoir un système tout automatisé dans l'univers du No-code. Nous mettons à votre disposition un chatbot qui s'occupera de vous générer un template sur mesure suivant vos préférences</p>
      <a href="#chatbot" class="button" (click)="startChat()" disabled = "isDisabled">Commencer <span class='fas fa-caret-down'></span></a> 
    </div>
  </div>
</div>

<app-chatbot [start]="isLaunched"></app-chatbot>
