<div class="f-carousel" id="myCarousel">
    <div class="f-carousel__slide">
        <img
              width="240"
              height="240"
              alt=""
              src="https://lipsum.app/id/31/640x640"
            />
    </div>
    <div class="f-carousel__slide">
        <img
        width="240"
        height="240"
              alt=""
              src="https://lipsum.app/id/31/640x640"
            />
    </div>
    <div class="f-carousel__slide">
        <img
        width="240"
        height="240"
              alt=""
              src="https://lipsum.app/id/31/640x640"
            />
    </div>
  </div>